
<div>
    <input class="btn btn-primary" type="file" name="upload" id="uploadFile" accept="image/*" /><br />
    <button id="submit" data-bind="click:Send" class="btn btn-warning"     >Сохранить изменения</button>
    <div id="Image">
    </div>
</div>

