<hr />
<div>
    <input type="hidden" name="X" id="X" />
    <input type="hidden" name="Y" id="Y" />
    <input type="hidden" name="W" id="W" />
    <input type="hidden" name="H" id="H" />
    <input class="btn btn-primary" type="file" name="upload" id="uploadFile" accept="image/*" /><br />
    <button id="submit" class="btn btn-warning">Сохранить изменения</button>
    <div id="Image">

    </div>
</div>


@section scripts{
    <script type="text/javascript">
        var nameimg;
        $(document).ready(function () {

            var fileInput = $('#uploadFile');

            // Обработка события выбора файлов
            fileInput.bind({
                change: function () { 
                    displayFiles(this.files);
                    $('#cropbox').Jcrop({
                        onSelect: updateCoords
                    });
                }
            });

            // Создание      изображений
            function displayFiles(files) {
                $.each(files, function (i, file) {

                    // Создание Картинки
                    var Image = $('#Image');
                    var img = $('<img/>').appendTo(Image);
                    img.attr('id', 'cropbox');
                    // Создаем объект FileReader и по завершении чтения файла, отображаем файл
                    var reader = new FileReader();
                    reader.onload = (function (aImg) {
                        return function (e) {
                            aImg.attr('src', e.target.result);

                        };
                    })(img);
                    // Чтение данных из объекта file
                    reader.readAsDataURL(file);
                    var files = document.getElementById('uploadFile').files;
                    if (files.length > 0) {
                        if (window.FormData !== undefined) {
                            var formData = new FormData(); 
                                formData.append("file" , files[0]);
                            $.ajax({
                                type: "POST", 
                                url: '/Home/Upload',
                                contentType: false,
                                processData: false,

                                data: formData,

                                success: function (result) {
                                    nameimg=result;
                                },
                                error: function (xhr) {
                                    console.log(xhr.responseText);
                                }
                            });
                        } else {
                            alert("Браузер не поддерживает загрузку файлов HTML5!");
                        }
                    }
                });
            }
        });
        $("#submit").on("click", function (e) {
            e.preventDefault();
            cropImage();
        });
       ///Получение кординат
        function updateCoords(c) {
            $('#X').val(c.x);
            $('#Y').val(c.y);
            $('#W').val(c.w);
            $('#H').val(c.h);
        };

        function cropImage() {

            var Cord = {
                'CorX': $("#X").val(),
                'CorY': $("#Y").val(),
                'CorW': $("#W").val(),
                'CorH': $("#H").val(),
                nameimg
            }
            $.ajax({
                type: "POST",
                url: '/Home/Crop',
                contentType: "application/json; charset=utf-8",
                processData: false,
                data: JSON.stringify(Cord),
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });






        }
    </script>
}