<p align="center">
    <h3 class="text-center">Оригинальная фотография</h3>
    <img id="cropbox"  alt="cat" src="~/Image/funny_cat_v1.jpg" />
</p>
<form method="post" id="myform">
    <p align="center">
        <input type="submit" id="btnsave" name="btnsave" value="Crop and save" />
    </p>
    <input type="hidden" name="X" id="X" />
    <input type="hidden" name="Y" id="Y" />
    <input type="hidden" name="W" id="W" />
    <input type="hidden" name="H" id="H" />

</form>
<img id="cropbox" alt="cat" src="~/Upload/funny_cat_v1.jpg" />
@section scripts{
    
<script type="text/javascript">
    $(document).ready(function () {
        $('#cropbox').Jcrop({
            onSelect: updateCoords
        });

    });
    function updateCoords(c) {
        $('#X').val(c.x);
        $('#Y').val(c.y);
        $('#W').val(c.w);
        $('#H').val(c.h);
    };
</script>
    }